@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

/* BASE */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html { font-size: 16px; }


/* LAYOUT */

section, footer { 
    padding: 1rem; 
    text-align: center;
}

section { 
    min-height: calc(100vh - 50px); 
    display: flex;
    flex-flow: column nowrap;
}

footer { height: 50px; }

.container { 
    width: 80%;
    margin: 0 auto;
}


/* COMPONENTS */

a { 
    text-decoration: none; 
    color: #0099ff;
    font-weight: 600;
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
}

button {
    outline: none;
    border: none;
    width: 20rem;
    margin: 2rem auto;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: #0099ff;
    color: #fff;     
    transition: .3s ease;
}

button:hover {
    letter-spacing: 1px;
    background-color: #299fee;    
}

.box__quote {
    padding: 1rem;
    font-size: 2rem;
}


/* SCREEN SIZES */

@media only screen and (max-width: 768px) {
    html { font-size: 14px; }
    .container { width: 100%; }
}

@media only screen and (max-width: 480px) {
    html { font-size: 12px; }
    .box__controls { width: 100%; }    
}